/* Hide message of data sucessfully added to agile CRM
-------------------------------------------------------------- */
#wcap_agile_message{
	display: none;
}
#wcap_agile_security_token_label_error, #wcap_agile_domain_label_error, #wcap_agile_user_name_label_error{
	display:none; 
	color:red;
}